<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="e-IPI"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EIPI">

        <activity
            android:name=".news.NewsDetailActivity"
            android:exported="false" />

        <activity
            android:name=".news.NewsActivity"
            android:exported="false" />

        <activity
            android:name=".terms.TermsActivity"
            android:exported="false" />

        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".nastava.NastavaActivity"
            android:exported="false" />

        <activity
            android:name=".splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>